.container {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.date-picker {
    cursor: pointer;
    width: 250px;
}

#time-button {
    position: fixed;
    right: 0;
    bottom: 70px;
    z-index: 9999;
}

image {
    filter: blur(2px);
}