.container {
  position: fixed;
  right: 10%;
  bottom: 10%;
  z-index: 9999;
}

.date-picker {
  cursor: pointer;
  width: 250px;
}

#time-button {
  position: fixed;
  right: 10%;
  bottom: 25%;
  z-index: 999;
}
